/* App.css */

@media screen and (max-width: 768px) {
  .Container {
    max-width: 90%; /* 작은 화면에서는 더 작은 너비로 조정 */
    margin: 50px auto; /* 상대적인 여백으로 변경 */
    padding: 50px; /* 작은 화면에서 더 작은 여백으로 조정 */
    border-radius: 5px; /* 작은 화면에서 더 작은 라운드 처리 */
  }

  .foodimg {
    width: 100%; /* 이미지 너비를 화면 너비에 맞게 조정 */
    margin-bottom: -30px; /* 더 작은 마진으로 조정 */
  }

  h1 {
    font-size: 100px; /* 작은 화면에서 더 작은 폰트 크기로 조정 */
  }

  h2 {
    font-size: 30px; /* 작은 화면에서 더 작은 폰트 크기로 조정 */
    margin-right: 20px; /* 작은 화면에서 더 작은 여백으로 조정 */
  }

  .yumdologo {
    width: 100%; /* 이미지 너비를 화면 너비에 맞게 조정 */
    margin-bottom: 20px; /* 더 작은 마진으로 조정 */
  }
}

/* 전체 앱 스타일 */

