


.App{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
}

.maintitle_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1{
  font-family: 'Prompt', sans-serif;  
  font-size: 50px;
  text-align: center;
  margin: 0;  
}

h2{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
}

.yumdologo {
  width: 550px; /* 이미지의 너비 설정 */
  height: auto; /* 높이는 비율에 맞추기 위해 auto 설정 */
  margin: 0 auto; /* 좌우 가운데 정렬을 위해 margin 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.plusbutton {
  width: 80px;
  margin-left: 30px; /* 원하는 간격 설정
} */